/* Color Palette*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 0.875em; }

.clear, .new-tweet-form, .content .tweets ul li .post-meta {
  clear: both; }

.left, .header-bg .hamburger, .header-bg h1, .new-tweet-form .counter, .content .tweets ul li .post-meta .avatar, .content .tweets ul li .post-meta .name {
  float: left; }

.right, .header-bg i.fa-search, .header-bg .new-tweet, .new-tweet-form .button.default {
  float: right; }

.clear:after, .new-tweet-form:after, .content .tweets ul li .post-meta:after {
  clear: both;
  content: '';
  display: block; }

label {
  display: block; }

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: .3em;
  margin-bottom: 1em; }

.header-bg {
  height: 3em;
  background-color: #2793ff; }
  .header-bg i.fa {
    line-height: 3em; }
  .header-bg .hamburger {
    margin-left: 1em;
    color: #fff; }
  .header-bg i.fa-search, .header-bg .new-tweet {
    margin-right: 1em;
    color: #fff;
    cursor: pointer; }
  .header-bg h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 2em;
    margin-left: 1em;
    color: #fff; }

.new-tweet-form {
  border-bottom: 1px solid #f2f2f2;
  margin: 0;
  display: none;
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden; }
  .new-tweet-form > div {
    padding: 1em; }
  .new-tweet-form #tweet {
    display: block;
    width: 100%;
    height: 5em;
    border: 1px solid #ccc;
    color: #999;
    padding: 5px; }
    .new-tweet-form #tweet:focus {
      border: 1px solid #2793ff;
      color: #222; }
  .new-tweet-form .button.default {
    background-color: #2793ff;
    color: #fff;
    border: 0;
    margin-top: 0.5em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 16px; }
  .new-tweet-form .counter {
    margin-top: 0.5em;
    color: #999; }

.main-nav {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 3em;
  z-index: 1;
  transition: left 0.5s ease; }
  .main-nav nav ul {
    margin: 0;
    padding: 1em; }
    .main-nav nav ul li {
      list-style: none;
      line-height: 2em;
      margin-bottom: 5px; }
      .main-nav nav ul li a {
        color: #222;
        text-decoration: none;
        display: block; }
        .main-nav nav ul li a:hover {
          color: #2793ff; }

.content {
  background-color: #f2f2f2; }
  .content input[name='search'] {
    display: none; }
  .content .tweets {
    padding: 0.5em 1em; }
    .content .tweets ul {
      margin: 0;
      padding: 0; }
      .content .tweets ul li {
        list-style: none;
        background-color: #fff;
        padding: 1em;
        margin-bottom: 0.5em;
        margin-top: 2.5em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        position: relative; }
        .content .tweets ul li .post-meta .avatar {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          position: absolute;
          top: -25px; }
        .content .tweets ul li .post-meta .name {
          margin: 0;
          position: absolute;
          top: -20px;
          left: 75px;
          font-size: 1em; }
          .content .tweets ul li .post-meta .name small a {
            color: #666;
            text-decoration: none;
            font-style: italic;
            font-weight: 300;
            margin-top: 0.5em;
            display: block; }
        .content .tweets ul li .post-content {
          margin-top: 1em; }

/*# sourceMappingURL=dasboard.css.map */
